<!DOCTYPE html>
<html>
<head>
	<title>Back to basics, a small login page.</title>
	<link rel="stylesheet" type="text/css" href="http://getbootstrap.com/dist/css/bootstrap.min.css">
	<link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

</head>
<body>
	<div class="container">
		<div class="container">
			<nav>
				<ul class="nav nav-pills pull-right">
					<li role="presentation" class="active"><a href="#">Home</a></li>
					<li role="presentation" class="active"><a href="signIn">SignIn</a></li>
					<li role="presentation" class="active"><a href="signUp">SignUp</a></li>
				</ul>
			</nav>

			<div class="jumbotron">
				<h1>Sign In</h1>
				<form class="form-origin" method="post" action="login">
					<input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email Address">
					<input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password">

					<button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
				</form>

			</div>
		</div>
	</div>
	
</body>
</html>